<div class="w3-panel w3-green w3-margin" *ngIf="success">
  <h3>Success!</h3>
  <p>You have been signed in successfully</p>
</div>

<div class="w3-panel w3-red w3-margin" *ngIf="error">
  <h3>Error!</h3>
  <p>User already exists.</p>
</div>
<div class="card w3-center">
  <form class="example-form" [formGroup]="signupForm">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Sign up</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="form-input">
          <mat-label>Name</mat-label>
          <input
            matInput
            formControlName="nameFormControl"
            [errorStateMatcher]="matcher"
            placeholder="Ex. pat@example.com"
          />
          <!-- <mat-hint>Errors appear instantly!</mat-hint> -->

          <mat-error
            *ngIf="signupForm.controls.nameFormControl.hasError('required')"
          >
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-input">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="passwordFormControl"
            type="password"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="signupForm.controls.passwordFormControl.hasError('required')"
          >
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="w3-black" (click)="login()">
          Login
        </button>
        <!-- <button mat-button></button> -->
      </mat-card-actions>
    </mat-card>
  </form>
</div>
